
.container {
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
}

.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
.group {
	width: 80%;
    margin: 10px auto;
	overflow: hidden;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 480px) {
    .left, 
    .right {
        float: none;
        width: auto;
    }
}

