.left {
    float: left;
    width: 45%;
}
.right {
    float: right;
    width: 45%;
}
.group {
	width: 80%;
    margin: 20px auto;
	overflow: hidden;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 480px) {
    .left, 
    .right {
        float: none;
        width: auto;
    }
}
/*CONTAINER STYLES*/

.container {
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

/*GALLERY STYLES*/
.galleryItem {
	color: #797478;
	font: 10px/1.5 Verdana, Helvetica, sans-serif;
	width: 20%;
	margin:  2.5% 2.5% 50px 2.5%;
	float: left;
	-webkit-transition: color 0.5s ease;
}

.galleryItem h3 {
	text-transform: uppercase;
	line-height: 2;
}

.galleryItem:hover {
	color: #000;
}

.galleryItem img {
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



/* MEDIA QUERIES*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.galleryItem {width: 29.33333%;}
	.header h1 {font-size: 40px;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
	.header h1 {font-size: 28px;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 96%;}
	.galleryItem h3 {font-size: 18px;}
	.galleryItem p, .header p {font-size: 18px;}
	.header h1 {font-size: 70px;}
}
